 .card-stack > .card:hover {
    border: 1px solid lightgray;
    transition: all 0.5s; 
    transition-duration: all 0.5s;
    transform: translateY(-25%);
  }

  .card-stack > .card:active {
    background: rgb(154, 255, 255);
    /* transform: translate(-200px, -500px);
    transition: all 0.5s;
    transition-timing-function: ease-in; */
  } 