 .card-stack > .card:hover {
    border: 1px solid lightgray;
    transition: all 0.5s; 
    transition-duration: all 0.5s;
    transform: translateY(-25%);
  }

  .card-stack > .card:active {
    background: rgb(154, 255, 255);
  } 

  @keyframes move {
    to   { transform: translate(-150px, -200px); zoom:4.5;}
  }

  .card-stack >.card:active {
    animation: move 100ms linear;
  }